<html>
    <head>
        <title>Profile</title>
        <style type="text/css">
            table {
                width: 100%;
            }
            td {
                padding: 5px;
            }
            .label {
                font-weight: bold;
                text-align: right;
            }
            .value {
                text-align: left;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="label">Name:</td>
                            <td class="value">{{name}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
