<html>
    <head>
        <title>Profile</title>
        <style type="text/css">
            table {
                width: 100%;
            }
            td {
                padding: 5px;
            }
            .label {
                font-weight: bold;
                text-align: right;
            }
            .value {
                text-align: left;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="label">Name:</td>
                            <td class="value">{{name}}</td>
                        </tr>
                        <tr>
                            <td class="label">Description:</td>
                            <td class="value">{{description}}</td>
                        </tr>
                        <tr>
                            <td class="label">Location:</td>
                            <td class="value">{{location}}</td>
                        </tr>
                        <tr>
                            <td class="label">Phone No:</td>
                            <td class="value">{{phone_no}}</td>
                        </tr>
                        <tr>
                            <td class="label">Start Date:</td>
                            <td class="value">{{start_date}}</td>
                        </tr>
                        <tr>
                            <td class="label">End Date:</td>
                            <td class="value">{{end_date}}</td>
                        </tr>
                        <tr>
                            <td class="label">Time:</td>
                            <td class="value">{{time}}</td>
                        </tr>
                        <tr>
                            <td class="label">Total Amount:</td>
                            <td class="value">{{total_amount}}</td>
                        </tr>
                        <tr>
                            <td class="label">Advance:</td>
                            <td class="value">{{advance}}</td>
                        </tr>
                        <tr>
                            <td class="label">No of Labours:</td>
                            <td class="value">{{no_of_labours}}</td>
                        </tr>
                        <tr>
                            <td class="label">No of Vehicle Trips:</td>
                            <td class="value">{{no_of_vehicle_trips}}</td>
                        </tr>
                        <tr>
                            <td class="label">Extra Expense:</td>
                            <td class="value">{{extra_expense}}</td>
                        </tr>
                        <tr>
                            <td class="label">Commission:</td>
                            <td class="value">{{commission}}</td>
                        </tr>
                        <tr>
                            <td class="label">VAT Percentage:</td>
                            <td class="value">{{vat_percentage}}</td>
                        </tr>
                        <tr>
                            <td class="label">Amount with VAT:</td>
                            <td class="value">{{amount_with_vat}}</td>
                        </tr>
                        <tr>
                            <td class="label">Paid:</td>
                            <td class="value">{{paid}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
