<html>
    <head>
        <title>Profile</title>
        <style type="text/css">
            table {
                width: 100%;
            }
            td {
                padding: 5px;
            }
            .label {
                font-weight: bold;
                text-align: right;
            }
            .value {
                text-align: left;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="label">Username:</td>
                            <td class="value">{{username}}</td>
                        </tr>
                        <tr>
                            <td class="label">First Name:</td>
                            <td class="value">{{first_name}}</td>
                        </tr>
                        <tr>
                            <td class="label">Last Name:</td>
                            <td class="value">{{last_name}}</td>
                        </tr>
                        <tr>
                            <td class="label">Address:</td>
                            <td class="value">{{address}}</td>
                        </tr>
                        <tr>
                            <td class="label">Phone No:</td>
                            <td class="value">{{phone_no}}</td>
                        </tr>
                        <tr>
                            <td class="label">Email:</td>
                            <td class="value">{{email}}</td>
                        </tr>
                        <tr>
                            <td class="label">Joined Date:</td>
                            <td class="value">{{joined_date}}</td>
                        </tr>
                        <tr>
                            <td class="label">Is Admin:</td>
                            <td class="value">{{is_admin}}</td>
                        </tr>
                        <tr>
                            <td class="label">Total Earning:</td>
                            <td class="value">{{total_earning}}</td>
                        </tr>
                        <tr>
                            <td class="label">Credit Balance:</td>
                            <td class="value">{{credit_balance}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><img src='file:resources/images/profile_pictures/{{profile_picture}}' width='150' height='150'></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
